article, footer, header, section
{
    display: block;
}

body{
background:#76bdff;
font-family: "Carme",Arial;
font-size: 16px;
margin: 0;
padding: 0;
text-align: center;

}
footer, header, section
{
    background: #FFF;
    border-radius: 0.9em;
    -webkit-border-radius: 0.9em;
    -moz-border-radius: 0.5em;
    -o-border-radius: 0.5em;
    -ms-border-radius: 0.5em;
    box-shadow: rgba(0, 0, 0, 0.8) 0px 5px 10px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.9) 2px 5px 15px;
    margin: 1.1em auto;
    padding: 1.5em;
    width: 90%;
}

#mapa_canvas
{
    height: 38em;
    width: 45em;
    text-align: center;
    margin: 0 auto;
    padding: 0 auto;
    border-radius: 0.9em;
    -webkit-border-radius: 0.9em;
    -moz-border-radius: 0.5em;
    -o-border-radius: 0.5em;
    -ms-border-radius: 0.5em;
    box-shadow: rgba(0, 0, 0, 0.8) 0px 5px 10px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.9) 2px 5px 15px;
    
}